/*** 초기화 ***/
* {margin: 0; padding: 0; font: normal 12px 고딕;}
a {text-decoration: none; color: #111;}
ul, ol {list-style: none;}
html, body {height: 100%}
#wrapper { 
    height : auto;
    min-height: 100%;
    box-sizing: border-box;
    padding-bottom: 60px;
    box-sizing: border-box;
}

/*** 헤더 ***/
header {
    min-width: 1400px;
    height: 120px;
    box-sizing: border-box;
    background: url(../img/admin_bg_body.jpg);
    background-position: 0px -79px;
}
header > div {
    width: 1400px;
    height: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}
header > div > a {
    display: inline-block;
    position: relative;
    top: 45px;
}
header > div > nav {
    position: relative;
    top: 45px;
    color: #fff;
    float: right;
    font-size: 0;
}

header > div > nav > span {margin-right: 15px;}
header > div > nav > a {
    color: inherit;
    padding: 0 6px;
}

header > div > nav > a:not(:last-child) {border-right: 1px solid #fff;}

/*** 관리자 메인 ***/
main {
    height: auto;
    box-sizing: border-box;
}
main > div {
    width: 1400px;
    height: auto;
    box-sizing: border-box;
    margin: 0 auto;
    overflow: hidden;
}
main > div > aside {
    width: 270px;
    height: auto;
    box-sizing: border-box;
    float: left;
    background: url('../img/admin_bg_aside.jpg');
}
main > div > aside > ul > li {
    width: 100%;
    min-height: 66px;
    border-bottom: 1px solid #c0c0c0;;
    box-sizing: border-box;
}
main > div > aside > #gnb > li > a {
    display: inline-block;
    width: 100%;
    height: 66px;
    text-indent: 10px;
    line-height: 66px;
    font-size: 14px;
    font-weight: bold;
}
main > div > aside > #gnb > li > a > i {
    margin-right: 10px;
    font-size: 20px;
}

main > div > aside > #gnb ol {display: none;}
main > div > aside > #gnb ol > li > a {
    display: block;
    text-indent: 54px;
    height: 30px;
    line-height: 30px;
}

.admin {
    float: left;
    width: 1130px;
    height: 100%;
    box-sizing: border-box;
    padding: 20px;
}
.admin > nav {
    box-sizing: border-box;
    border-bottom: 1px solid #c0c0c0;
    padding-bottom: 5px;
    height: auto;
}
.admin > nav > h1 {
    font-size: 20px;
    font-weight: bold;
    display: inline-block;
}
.admin > nav > p {float: right; line-height: 34px;}
.admin > nav > p > span {font-weight: bold;}
#admin-index > section {
    width: 100%;
    height: auto;
    box-sizing: border-box;
}
#admin-index > section  table td, #admin-index > section  table th {border: 1px solid #e5e5e5;}
#admin-index > section  table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border-top: 2px solid #8798a3
}
#admin-index > section table > caption {
    text-align: left;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 7px;
}
#admin-index > section > table tr:first-child {background: #f6f6f6;}
#admin-index > section > table th{padding: 25px;}
#admin-index > section > table th > p {
    font-size: 16px;
    font-weight: bold;
}
#admin-index > section > table th > strong {
    display: block;
    font-size: 16px;
    font-weight: bold;
    color: #bc2e13;
    margin-top: 10px;
}
#admin-index > section > table td {padding: 15px;}
#admin-index > section > table td > p:not(:first-childs) {margin-top: 10px;}
#admin-index > section > table tr:not(:first-child) > td > p {
    display: flex;
    justify-content: space-between;
}
#admin-index > section > table td > p > span {font-size: 14px;}
#admin-index > section {padding-top: 20px;}
#admin-index > section > article {
    width: 49%;
    height: 100%;
    box-sizing: border-box;
}
#admin-index > section > article:nth-child(1) {float: left;}
#admin-index > section > article:nth-child(2) {float: right;}
#admin-index > section > article > table {
    border-collapse: collapse;
    border-spacing: 0;
}
#admin-index > section > article > table td {
    padding: 15px;
}
#admin-index > section > article > table td > p {
    display: flex;
    justify-content: space-between;
}
#admin-index > section > article > table td > p:not(:first-child) {margin-top: 5px;}
#admin-index > section > article > table td span:nth-child(1) {
    width: 410px;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}


/*** 관리자 상품 페이지 ***/
#admin-product-list {height: auto; overflow: hidden;}
#admin-product-list > form > select {
    width: 80px;
    border: 1px solid #d6d6d6;
    box-sizing:border-box;
    height: 30px;
    text-indent: 5px;
}

#admin-product-list > form > input:nth-of-type(1) {
    height: 30px;
    border: 1px solid #d6d6d6;
    box-sizing:border-box;
    margin: 25px 0 10px;
    text-indent: 5px;
}

#admin-product-list > form > input:nth-of-type(2) {
	width: 75px;
	height: 30px;
	border: 1px solid #d6d6d6;
	box-sizing: border-box;
}

#admin-product-list > table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border-top: 2px solid #8798a3;
}
#admin-product-list > table tr:first-child > th {
    background: #f6f6f6;
    padding: 15px;
    border-bottom: 1px solid #e6e6e6;
}
#admin-product-list > table tr:first-child > th > input[type=checkbox] {margin-top: 1.5px;}
#admin-product-list > table tr > td {padding: 10px;}
#admin-product-list > table tr:not(:first-child) > td:nth-child(4) {width: 300px; text-align: left;}
#admin-product-list > table td {
    border-bottom: 1px solid #e6e6e6;
    text-align: center;
}
#admin-product-list > table td > img {width: 60px;}
#admin-product-list > #deleteButton {
    float: left;
    background: #fff;
    height: auto;
    cursor: pointer;
    text-indent: 0;
    padding: 10px 15px;
    border: 1px solid #d6d6d6;
    box-sizing: border-box;
    margin-top: 10px;
}
#admin-product-list > #registerButton {
	float: right;
    background: #fff;
    height: auto;
    cursor: pointer;
    text-indent: 0;
    padding: 10px 15px;
    border: 1px solid #d6d6d6;
    box-sizing: border-box;
    margin-top: 10px;
}
#admin-product-list > .paging {
    display: block;
    width: auto;
    height: 32px;
    margin-top: 28px;
    text-align: center;
    padding-right: 90px;
}
#admin-product-list > .paging > a {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #d6d6d6;
    background-repeat: no-repeat;
    border-radius: 3px;
    color: #999;
}


#admin-product-list > .paging > .starton {
    background-image: url('../img/admin_paging_end_on.JPG');
    background-position: 3px 1px;
    font-size: 0;
}

#admin-product-list > .paging > .startoff {
    background-image: url('../img/admin_paging_end_off.JPG');
    background-position: 5px 1px;
    transform: rotate(180deg);
    pointer-events: none;
    font-size: 0;
}

#admin-product-list > .paging > .prevon {
    background-image: url('../img/admin_paging_next_on.JPG');
    background-position: 2px 3px;
    font-size: 0;
}

#admin-product-list > .paging > .prevoff {
    background-image: url('../img/admin_paging_next_off.JPG');
    background-position: 4px 3px;
    transform: rotate(180deg);
    pointer-events: none;
    font-size: 0;
}

#admin-product-list > .paging > .nexton {
    background-image: url('../img/admin_paging_next_on.JPG');
    background-position: 2px 3px;
    transform: rotate(180deg);
    font-size: 0;
}

#admin-product-list > .paging > .nextoff {
    background-image: url('../img/admin_paging_next_off.JPG');
    background-position: 4px 3px;
    pointer-events: none;
    font-size: 0;
}

#admin-product-list > .paging > .endon {
    background-image: url('../img/admin_paging_end_on.JPG');
    background-position: 3px 1px;
    transform: rotate(180deg);
    font-size: 0;
}

#admin-product-list > .paging > .endoff {
    background-image: url('../img/admin_paging_end_off.JPG');
    background-position: 5px 1px;
    pointer-events: none;
    font-size: 0;
}
#admin-product-list > .paging > a:not(.pg) {top: -4px;}
#admin-product-list > .paging > a {margin-right: 2px;}






#admin-product-list > .paging > a {position: relative;}
#admin-product-list > .paging > .on {
    border: 1px solid #6699cc;
    background: #6699cc;
    color: #fff;
    font-weight: bold;
}
#admin-product-list > .paging > .pg:not(.on):hover {background-color: #e7f2fb;}
p.ico  {
    padding: 25px 50px;
    margin-top: 50px;
    border: 1px solid #8497BF;
    background: no-repeat #A8B2C5 url('../img/admin_ico_info.png') scroll 15px 20px;
}

/*** 관리자 상품 등록 ***/
#admin-product-register > table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}
#admin-product-register > h2 {
    font-size: 15px;
    font-weight: bold;
    margin-top: 15px;
}
#admin-product-register > p {
    background: #eaeaea;
    padding: 10px;
    margin: 10px 0;
}
#admin-product-register > form > table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}
#admin-product-register > form > h2 {
    font-size: 15px;
    font-weight: bold;
    margin-top: 15px;
}
#admin-product-register > form > p {
    background: #eaeaea;
    padding: 10px;
    margin: 10px 0;
}
#admin-product-register table > caption {text-align: left;}
#admin-product-register table  tr:nth-child(1) {
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
}
#admin-product-register table  tr:not(:first-child) {border-bottom: 1px solid #e6e6e6;}
#admin-product-register table  th {
    width: 200px;
    padding: 20px;
    background: #f6f6f6;
}
#admin-product-register table  td {padding: 10px;}
#admin-product-register table  td > select {
    width: 140px; 
    height: 35px; 
    text-indent: 5px;
    border: 1px solid #959595;
}
#admin-product-register table  td > div {overflow: hidden;}
#admin-product-register table  td > div:nth-child(2) {margin: 15px 0;}
#admin-product-register table  td  input[type=file] {float: left; width: 180px;}
#admin-product-register table  td > input:not(input[type=file])  {
    float: left;
    width: 200px; 
    height: 35px; 
    text-indent: 5px; 
    border: 1px solid #959595;
    box-sizing: border-box;
}
#admin-product-register table  td > span {float: left; line-height: 35px; font-weight: bold;}
#admin-product-register table tr:not(:nth-child(9)) td > p {
    float: left;
    text-indent: 5px;
    margin: 10px 0 5px 10px;
}
#admin-product-register table tr:nth-child(9) td > div > p {
    float: left;
    line-height: 23px;
    margin-left: 52px;
}
#admin-product-register table tr:nth-child(10) td > p {
    line-height: 20px;;
    margin: 0;
    text-indent: 0;
    margin-left: 52px;
}
#admin-product-register table  td > p:nth-child(1) {margin-top: 0;}
#admin-product-register table  td > span {margin-left: 5px;}
#admin-product-register > form > input[type=submit] {
    float: right;
    background: none;
    border: 1px solid #959595;
    border-radius: 2px;
    box-sizing: border-box;
    padding: 10px 15px;
    margin-top: 15px;
    cursor: pointer;
}
#admin-product-register > p.ico  {
    padding: 25px 50px;
    margin-top: 80px;
    border: 1px solid #FDD845;
    background: no-repeat #FFF6BF  url('../img/admin_ico_alert.png') scroll 15px 20px;
}


/*** 관리자 고객센터 ***/
/*=== 목록 ===*/
#cs-list > select:first-of-type {
	margin-top: 13px;
    width: 137px;
    height: 30px;
    text-indent: 5px;
    box-sizing: border-box;
    font-size: 13px;
    text-align: center;
}
#cs-list > select:nth-of-type(2) {
	margin-top: 13px;
    width: 174px;
    height: 30px;
    text-indent: 5px;
    box-sizing: border-box;
    font-size: 13px;
    text-align: center;
}

#cs-list > table {
    margin-top: 10px;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border-top: 2px solid #111;
}
/*** 관리자 CS 자주묻는질문 ***/
#cs-list > .FAQth {
	margin-top: 10px;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border-top: 2px solid #111;
}

#cs-list > .FAQth tr:first-child > th {
	background: #f6f6f6;
    padding: 15px;
    border-bottom: 1px solid #e6e6e6;
}

#cs-list > .FAQth tr:not(:first-child) > td:nth-child(4) {
	width: 93px; text-align: center; white-space: nowrap;
}
/*========================*/
/**************************/

#cs-list > .QNAth {
	margin-top: 10px;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border-top: 2px solid #111;
}

#cs-list > .QNAth tr:first-child > th {
	background: #f6f6f6;
    padding: 15px;
    border-bottom: 1px solid #e6e6e6;
}

#cs-list > .QNAth tr:not(:first-child) > td:nth-child(4) {
	width: 93px;
	white-space: nowrap;
	text-align: center;
}

#cs-list > table tr:first-child > th {
    background: #f6f6f6;
    padding: 15px;
    border-bottom: 1px solid #e6e6e6;
}
#cs-list > table tr:first-child > th > input[type=checkbox] {margin-top: 1.5px;}
#cs-list > table tr > td {padding: 10px; white-space: nowrap; }
#cs-list > table tr:not(:first-child) > td:nth-child(4) {width: 300px; text-align: left;}
#cs-list > table td {
    border-bottom: 1px solid #e6e6e6;
    text-align: center;
}
#cs-list > table td > img {width: 60px;}
#cs-list > input[type=button] {
    margin-top: 10px;
    float: left;
    background: #fff;
    height: auto;
    cursor: pointer;
    text-indent: 0;
    padding: 10px 15px;
    border: 1px solid #d6d6d6;
    box-sizing: border-box;
}

#cs-list > input[type=submit] {
    float: right;
    padding: 10px 15px;
    background: skyblue;
    border: 1px solid #d6d6d6;
    color: white;
}
#cs-list > .paging {
    display: block;
    width: auto;
    height: 32px;
    margin-top: 28px;
    text-align: center;
    padding-right: 90px;
}
#cs-list > .paging > a {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #d6d6d6;
    background-repeat: no-repeat;
    border-radius: 3px;
    color: #999;
}


#cs-list > .paging > .starton {
    background-image: url('../img/admin_paging_end_on.JPG');
    background-position: 3px 1px;
    font-size: 0;
}

#cs-list > .paging > .startoff {
    background-image: url('../img/admin_paging_end_off.JPG');
    background-position: 5px 1px;
    transform: rotate(180deg);
    pointer-events: none;
    font-size: 0;
}

#cs-list > .paging > .prevon {
    background-image: url('../img/admin_paging_next_on.JPG');
    background-position: 2px 3px;
    font-size: 0;
}

#cs-list > .paging > .prevoff {
    background-image: url('../img/admin_paging_next_off.JPG');
    background-position: 4px 3px;
    transform: rotate(180deg);
    pointer-events: none;
    font-size: 0;
}

#cs-list > .paging > .nexton {
    background-image: url('../img/admin_paging_next_on.JPG');
    background-position: 2px 3px;
    transform: rotate(180deg);
    font-size: 0;
}

#cs-list > .paging > .nextoff {
    background-image: url('../img/admin_paging_next_off.JPG');
    background-position: 4px 3px;
    pointer-events: none;
    font-size: 0;
}

#cs-list > .paging > .endon {
    background-image: url('../img/admin_paging_end_on.JPG');
    background-position: 3px 1px;
    transform: rotate(180deg);
    font-size: 0;
}

#cs-list > .paging > .endoff {
    background-image: url('../img/admin_paging_end_off.JPG');
    background-position: 5px 1px;
    pointer-events: none;
    font-size: 0;
}
#cs-list > .paging > a:not(.pg) {top: -4px;}
#cs-list > .paging > a {margin-right: 2px;}
#cs-list > .paging > a {position: relative;}
#cs-list > .paging > .on {
    border: 1px solid #6699cc;
    background: #6699cc;
    color: #fff;
    font-weight: bold;
}
#cs-list > .paging > .pg:not(.on):hover {background-color: #e7f2fb;}
p.ico  {
    padding: 25px 50px;
    margin-top: 50px;
    border: 1px solid #8497BF;
    background: no-repeat #A8B2C5 url('../img/admin_ico_info.png') scroll 15px 20px;
}

/* 공지사항 보기 */
#cs-view > table {
    margin-top: 50px;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border-top: 2px solid #111;
}

#cs-view > table tr {
    width: 100%;
    height: 60px;
}
#cs-view > table tr > td:nth-child(1) {
	width: 132px;
    font-size: 17px;
    font-weight: bold;
    padding-right: 0px;
    text-align: center;
}
#cs-view > table tr > td:nth-child(2) {
    padding-left: 47px;
    font-size: 15px;
}

#cs-view > table td {
    border-bottom: 1px solid #ccc;
}
#cs-view > table tr > .content {
    height: 300px;
}
#cs-view > table tr > .content > p {
    font-size: 16px;
    line-height: 30px;
}
#cs-view > div {
	float: right;
    margin-top: 35px;   
}
#cs-view > div > .remove {
	background-color: #c0c0c0;
    border: 1px solid #c0c0c0;
    border-radius: 2px;
    padding: 5px 20px;
    box-sizing: border-box;
    font-size: 18px;
    color: #fff;
}

#cs-view > table tr > td > .reply {
	width: 510px;
    height: 130px;
    margin-top: 10px;
    margin-bottom: 10px;
    resize: none;
    font-size: 16px;
    text-indent: 5px;
}

/****** QNA 전용*********/
#cs-view > form > table {
    margin-top: 50px;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border-top: 2px solid #111;
}

#cs-view > form > table tr {
    width: 100%;
    height: 60px;
}
#cs-view > form > table tr > td:nth-child(1) {
	width: 132px;
    font-size: 17px;
    font-weight: bold;
    padding-right: 0px;
    text-align: center;
}
#cs-view > form > table tr > td:nth-child(2) {
    padding-left: 47px;
    font-size: 15px;
}

#cs-view > form > table td {
    border-bottom: 1px solid #ccc;
}
#cs-view > form > table tr > .content {
    height: 300px;
}
#cs-view > form > table tr > .content > p {
    font-size: 16px;
    line-height: 30px;
}

#cs-view > form > table tr > td > textarea {
	width: 510px;
    height: 130px;
    margin-top: 10px;
    margin-bottom: 10px;
    resize: none;
    font-size: 16px;
    text-indent: 5px;
}
#cs-view > form > a {
	display: inline-block;
    margin-top: 5px;
    float: right;
    margin: 2px;
}

#cs-view > form > .remove {
	background-color: #c0c0c0;
    border: 1px solid #c0c0c0;
    border-radius: 2px;
    padding: 5px 20px;
    box-sizing: border-box;
    font-size: 18px;
    color: #fff;
}
#cs-view > form > .btnWrite {
	    margin-top: 2px;
}

/* 공지사항 글 쓰기 */
#cs-write > form > table {
    width: 100%;
    border-collapse: collapse;
    border-top: 2px solid #111;
}
#cs-write > form > table tr{
    width: 100%;
    height: 26px;
}
#cs-write > form > table td{
    font-size: 16px;
    padding: 16px;
    border-bottom: 1px solid #ccc;
}
#cs-write > form > table td:first-child{
    width: 100px;
}
#cs-write > form > table input {
    width: 100%;
    height: 40px;
    font-size: 16px;
    text-indent: 10px;
    box-sizing: border-box;
}
#cs-write > form > table select {
    width: 150px;
    height: 40px;
    text-indent: 5px;
    box-sizing: border-box;
    font-size: 16px;
}
#cs-write > form > table select * {
    font-size: 16px;
}
#cs-write > form > table textarea {
    width: 100%;
    height: 360px;
    resize: none;
    font-size: 16px;
    padding: 10px;
    box-sizing: border-box;
}


#cs-write > input:nth-of-type(1) {
    margin-top: 50px;
    float: right;
}
#cs-write > input:nth-of-type(2) {
    display: block;
    margin-top: 50px;
    float: right;
}

/* 공지사항 수정 */
#cs-modify > form > table {
    width: 100%;
    border-collapse: collapse;
    border-top: 2px solid #111;
}
#cs-modify > form > table tr{
    width: 100%;
    height: 26px;
}
#cs-modify > form > table td{
    font-size: 16px;
    padding: 16px;
    border-bottom: 1px solid #ccc;
}
#cs-modify > form > table td:first-child{
    width: 100px;
}
#cs-modify > form > table input {
    width: 100%;
    height: 40px;
    font-size: 16px;
    text-indent: 10px;
    box-sizing: border-box;
}
#cs-modify > form > table select {
    width: 216px;
    height: 40px;
    text-indent: 5px;
    box-sizing: border-box;
    font-size: 16px;
}
#cs-modify > form > table select * {
    font-size: 16px;
}
#cs-modify > form > table textarea {
    width: 100%;
    height: 360px;
    resize: none;
    font-size: 16px;
    padding: 10px;
    box-sizing: border-box;
}


#cs-modify > form > .btnList {
	margin-left: 926px;
    display: inline-block;
    margin-top: 5px;
}
#cs-modify > form > .btnWrite {
    display: block;
    margin-top: 5px;
    float: right;
}

.btnList{
    background-color: #c0c0c0;
    border: 1px solid #c0c0c0;
    border-radius: 2px;
    padding: 5px 20px;
    box-sizing: border-box;
    font-size: 18px;
    color: #fff;
}
.btnDelete{
    background-color: #c0c0c0;
    border: 1px solid #c0c0c0;
    border-radius: 2px;
    padding: 5px 20px;
    box-sizing: border-box;
    font-size: 18px;
    color: #fff;
}
.btnModify{
    background-color: #c0c0c0;
    border: 1px solid #c0c0c0;
    border-radius: 2px;
    padding: 5px 20px;
    box-sizing: border-box;
    font-size: 18px;
    color: #fff;
}

.btnWrite{
	float: right;
    border-radius: 2px;
    padding: 5px 20px;
    box-sizing: border-box;
    font-size: 18px;
    color: #fff;
    background-color: #067dfd;
    border: 1px solid #0063ce;
}

/*** 푸터 ***/
footer {
    min-width: 1400px;
    height: 60px;
    box-sizing: border-box;
    transform : translateY(-100%);
    background: #0d3a46;
}
footer > div {
    width: 1400px;
    height: 60px;
    box-sizing: border-box;
    margin: 0 auto;
    display: block;
}
footer > div > p {
    color: #fff;
    font-weight: bold;
    line-height: 55px;
}