#admincs {
    float: left;
    width: 1130px;
    height: 100%;
    box-sizing: border-box;
    padding: 20px;
}
#admincs > nav {
    box-sizing: border-box;
    border-bottom: 1px solid #c0c0c0;
    padding-bottom: 5px;
    height: auto;
}
#admincs > nav > h1 {
    font-size: 20px;
    font-weight: bold;
    display: inline-block;
}
#admincs > nav > p {float: right; line-height: 34px;}
#admincs > nav > p > span {font-weight: bold;}

#admincs > select {
    margin-top: 25px;
    width: 110px;
    border: 1px solid #d6d6d6;
    box-sizing:border-box;
    height: 30px;
    text-indent: 10px;
}

#admincs > article > table{}
#admincs > article > table > tr:first-child > th{}
#admincs > article > table > tr:first-child > th > input[type=checkbox] {}
#admincs > article > table tr > td {}